*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    background-color: lightblue;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.box{
    height: 150px;
    width: 150px;
    border: 1px solid blue;
    text-align: center;
    transition: 2s;
}


    #box1:hover{
        transform:perspective(700px) rotateX(45deg);
    }

    #box2:hover{
        transform:perspective(500px) rotateY(45deg);
    }

    #box3:hover{
        transform:perspective(500px) rotateZ(45deg);
    }

    #box4:hover{
        transform:translateX(100px);
    }

    #box5:hover{
        transform:translateY(100px);
    }

    #box6:hover{
        transform:perspective(500px) translateZ(1000px);
    }

    #box10:hover{
        transform: perspective(500px) translate3d(200px);
    }


    #box7:hover{
        transform: perspective(500px) scaleX(0.7);
    }

    
    #box8:hover{
        transform: perspective(500px) scaleY(0.7);
    }

    #box9:hover{
        transform: perspective(500px) rotateY(30deg);
    }

    #box11:hover{
        transform: perspective(500px) rotate(30deg) scaleY(0.7);
    }